:root {
  // =============================================================================
  // Delays
  // =============================================================================

  --main-hover-delay: .3s;

  // =============================================================================
  // Colors
  // =============================================================================
  --color-background: 246, 246, 246; // #f6f6f6
  --color-red: 255, 0, 0;
  --color-grey: 130, 130, 130; // #828282
  --color-grey-lighter: 189, 189, 189; // #bdbdbd
  --color-grey-shadow: 178, 178, 178;
  --color-white: 255, 255, 255;
  --color-black: 51, 51, 51; // #333333
  --color-pink: 244, 172, 186; // #F4ACBA
  --color-main: 70, 192, 193; // #46c0c1
  --color-main-lighter: 160, 220, 228; // #a0dce4

  // =============================================================================
  // Shadow(box-shadow)
  // =============================================================================

  --shadow-banner: linear-gradient(0deg, var(--color-fade) 0%, rgba(232, 232, 232, 0.00) 49.28%);

  // =============================================================================
  // Filter
  // =============================================================================


  --z-hidden: -100;
  --z-background: -1;
  --z-bottom: 1;
  --z-pre-middle: 20;
  --z-middle: 30;
  --z-default: 50;
  --z-up: 60;
  --z-100: 100;
  --z-200: 200;
  --z-500: 500;
  --z-pre-top: 900;
  --z-top: 1000;
  --z-1200: 1200;
  --z-1300: 1300;
  // =============================================================================
  // Fonts
  // =============================================================================

  --font-roboto: Roboto, sans-serif;
  --font-montserrat: Montserrat, sans-serif;
}
