:root {
  // =============================================================================
  // Delays
  // =============================================================================

  --main-hover-delay: .3s;

  // =============================================================================
  // Colors
  // =============================================================================

  --color-red: red;
  --color-black: black;
  --color-pink: #F4ACBA;
  --main-color: rgb(70, 192, 193);
  --main-color-lighter: rgba(160, 220, 228, 1);

  // =============================================================================
  // Shadow(box-shadow)
  // =============================================================================

  --shadow-banner: linear-gradient(0deg, var(--color-fade) 0%, rgba(232, 232, 232, 0.00) 49.28%);

  // =============================================================================
  // Filter
  // =============================================================================


  --z-hidden: -100;
  --z-background: -1;
  --z-bottom: 1;
  --z-pre-middle: 20;
  --z-middle: 30;
  --z-default: 50;
  --z-up: 60;
  --z-100: 100;
  --z-200: 200;
  --z-500: 500;
  --z-pre-top: 900;
  --z-top: 1000;
  --z-1200: 1200;
  --z-1300: 1300;
  // =============================================================================
  // Fonts
  // =============================================================================

  --font-roboto: Roboto, sans-serif;
  --font-montserrat: Montserrat, sans-serif;
}
