@import './_libs';
@import './_vars';
@import './_mixins';
@import './_fonts';

// common styles

body {
  min-width: 100px;
  box-sizing: border-box;
  overflow-x: hidden;
  @include font("Roboto", 16px, 22.4px, 400);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(var(--color-background));
}
@include laptop {
  main {
    padding-top: var(--padding-header);
  }
  footer {
    padding-bottom: var(--padding-mobile-menu);
  }
}
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgb(var(--color-black));
}
html {
  overscroll-behavior: none;
}

/* Убираем внутренние отступы */
/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class */
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;

  &:not([class]){
    padding: initial;
    margin: initial;
  }
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
.title1,
li {
  margin: 0;
}

/* Элементы a, у которых есть атрибут class, сбрасываем до дефолтных стилей */
a {
  &:not(.text-decoration) {
    text-decoration: none;
  }
  &:not([class]) {
    color: rgb(var(--color-main));
  }
}

/* Упрощаем работу с изображениями */
img {
  width: 100%;
  max-height: 100%;
  display: block;
}

iframe {
  width: 100%;
  height: 100%;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;

  &:focus,
  &:active {
    outline: none;
  }
}

textarea {
  resize: none;
  display: block;
}

button {
  cursor: pointer;
  background: none;
  border: 0;
  padding: 0;
}

// end common styles

.preload * {
  transition: none !important;
}


.swiper-container {
  position: relative;
}
.simplebar {
  &-scrollbar.simplebar-visible::before {
    opacity: 1;
  }
  &-scrollbar {
    &::before {
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      opacity: 1;
      background-color: rgb(var(--color-main));
    }
  }
  &-track.simplebar-vertical, &-track.simplebar-horizontal {
    background-color: rgb(var(--color-grey-border));
    border-radius: 7px;
  }
  &-track.simplebar-vertical {
    width: 6px;
    .simplebar-scrollbar::before {
      width: 6px;
    }
  }
  &-track.simplebar-horizontal {
    height: 6px;
    .simplebar-scrollbar::before {
      height: 6px;
    }
  }
}
.template-container {
  width: 1300px;
  margin: 0 auto;
  position: relative;
}
.form-container {
  padding-top: 71px;
  width: 450px;
  margin: 0 auto;
}
.main {
  position: relative;
}
.form {
  &__item {
    margin-bottom: 20px;
  }
}
.plant {
  position: absolute;
  z-index: var(--z-hidden);
  &__second {
    left: 0;
    transform-origin: left top;
  }
  &__third {
    right: 0px;
    transform-origin: right top;
  }
  &__fourth {
    left: 0;
    transform-origin: left top;
  }
  &__fifth {
    right: 0;
    transform-origin: right top;
  }
  &__sixth {
    bottom: 0;
    left: 0;
    transform-origin: left bottom;
  }
}

@include desktop {
  .template-container {
    width: 1180px;
  }
  .plant {
    transform: scale(.63);
    &__fourth {
      transform: scale(1);
    }
    &__fifth {
      transform: scale(.7);
    }
    &__sixth {
      bottom: -40px;
      transform: scale(.9);
    }
  }
}
@include laptop {
  .template-container {
    width: 100%;
    padding: 0 30px;
  }
  .medicine-container {
    padding: 0;
  }
  .plant {
    &__second {
      transform: scale(.8);
    }
    &__fifth {
      transform: scale(.8);
    }
  }
}
@include medium {
  .plant {
    transform: scale(.6);
    &__fourth {
      transform: scale(.7);
    }
    &__fifth {
      transform: scale(.7);
    }
    &__sixth {
      transform: scale(.75);
    }
  }
}
@include tablet {
  .template-container {
    padding: 0 20px;
  }
  .plant {
    transform: scale(.41);
    &__second {
      transform: scale(.7);
    }
    &__third {
      transform: scale(.5);
    }
    &__fourth {
      transform: scale(.55)
    }
    &__fifth {
      transform: scale(.5)
    }
    &__sixth {
      transform: scale(.6);
    }
  }
}


@import './_imports';


h1 {
  @include font(var(--font-montserrat), 50px, 60px, 800);
}
h2 {
  @include font(var(--font-montserrat), 36px, 50.4px, 800);
}
h3 {
  @include font(var(--font-montserrat), 22px, 30.8px, 800);
}
h4 {
  @include font(var(--font-montserrat), 18px, 25.2px, 800);
}
@include tablet {
  h2 {
    @include fontAdaptive(24px, 33.6px, 800);
  }
}

.swiper {
  &__gray-bullet {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    background-color: rgb(var(--color-grey-lighter));
    border-radius: 50px;
    width: 6px;
    height: 6px;
    margin-bottom: 4.5px;
    transition: var(--main-hover-delay) transform, var(--main-hover-delay) left;
    cursor: pointer;
    &--active {
        background-color: unset;
        width: 15px;
        height: 15px;
        border: 1px solid rgb(var(--color-grey-lighter));
        margin-bottom: 0;
    }
  }
  &__navigation {
    &--disabled {
      path {
          fill: rgb(var(--color-main-lighter));
      }
      &:hover {
          cursor: unset;
          background-color: unset;
          path {
              fill: rgb(var(--color-main-lighter));
          }
      }
    }
  }
}
