@import './_libs';
@import './_vars';
@import './_mixins';
@import './_fonts';

// common styles

body {
  min-width: 100px;
  box-sizing: border-box;
  overflow-x: hidden;
  @include font("Roboto", 16px, 22.4px, 400);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(var(--color-background));
}
@include phone {
  body {
    overflow-x: scroll;
  }
}
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgb(var(--color-black));
}
html {
  overscroll-behavior: none;
}

/* Убираем внутренние отступы */
/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class */
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;

  &:not([class]){
    padding: initial;
    margin: initial;
  }
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
.title1,
li {
  margin: 0;
}

/* Элементы a, у которых есть атрибут class, сбрасываем до дефолтных стилей */
a {
  &:not(.text-decoration) {
    text-decoration: none;
  }
  &:not([class]) {
    color: rgb(var(--color-main));
  }
}

/* Упрощаем работу с изображениями */
img {
  width: 100%;
  max-height: 100%;
  display: block;
}

iframe {
  width: 100%;
  height: 100%;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;

  &:focus,
  &:active {
    outline: none;
  }
}

textarea {
  resize: none;
  display: block;
}

button {
  cursor: pointer;
  background: none;
  border: 0;
  padding: 0;
}

// end common styles


.swiper-container {
  position: relative;
}
.template-container {
  width: 1300px;
  margin: 0 auto;
  position: relative;
}
.input-text {
  border: 1px solid rgb(var(--color-grey-border));
  width: 100%;
  height: 100%;
  border-radius: 50px;
  font-size: 15px;
  position: relative;
  display: flex;
  align-items: center;
  input {
    height: 100%;
    width: 100%;
    padding: 15px;
    border: none;
    position: absolute;
    border-radius: 50px;
    font-size: 15px;
  }
  &__icon {
    position: absolute;
    right: 13px;
  }
}
@include desktop {
  .template-container {
    width: 1180px;
  }
}
@include laptop {
  .template-container {
    width: 100%;
    padding: 0 30px;
  }
  .medicine-container {
    padding: 0;
  }
}
@include tablet {
  .template-container {
    padding: 0 20px;
  }
}


@import './_imports';



@include tablet {
  body {
    @include fontAdaptive(14px, 100%);
  }
}

h1 {
  @include font(var(--font-montserrat), 50px, 60px, 800);
}
h2 {
  @include font(var(--font-montserrat), 36px, 50.4px, 800);
}
h3 {
  @include font(var(--font-montserrat), 22px, 30.8px, 800);
}
h4 {
  @include font(var(--font-montserrat), 20px, 28px, 800);
}
@include tablet {
  h2 {
    @include fontAdaptive(24px, 33.6px, 800);
  }
}

.swiper {
  &__gray-bullet {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    background-color: rgb(var(--color-grey-lighter));
    border-radius: 50px;
    width: 6px;
    height: 6px;
    margin-bottom: 4.5px;
    transition: var(--main-hover-delay) transform, var(--main-hover-delay) left;
    cursor: pointer;
    &--active {
        background-color: unset;
        width: 15px;
        height: 15px;
        border: 1px solid rgb(var(--color-grey-lighter));
        margin-bottom: 0;
    }
  }
  &__navigation {
    &--disabled {
      path {
          fill: rgb(var(--color-main-lighter));
      }
      &:hover {
          cursor: unset;
          background-color: unset;
          path {
              fill: rgb(var(--color-main-lighter));
          }
      }
    }
  }
}
