.advantage {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    @include font(Montserrat, 16px, 19.5px, 700);
    text-align: center;
    &__background {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        &-image {
            transition: all var(--main-hover-delay);
        }
        &-light {
            transition: all var(--main-hover-delay);
        }
    }
    &__background-image {
        position: absolute;
    }
    &__title {
        position: absolute;
        max-width: 80%;
        text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
        transition: opacity var(--main-hover-delay);
    }
    &__desc {
        position: absolute;
        opacity: 0;
        font-weight: 500;
        text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
        transition: opacity var(--main-hover-delay);
        transform: translateX(-50%);
        left: 50%;
    }
    &--biruse {
        .advantage {
            &__background-image {
                top: 17px;
                left: 21px;
            }
            &__desc {
                width: 205px;
                left: 55%;
            }
        }
        &:hover {
            .advantage {
                &__background {
                    &-light {
                        transform: scale(1.14, 1.14) translate(-1px, 3px);
                    }
                    &-image {
                        transform: scale(1.24);
                    }
                }
            }
        }
    }
    &--red {
        .advantage {
            &__background-image {
                top: 11px;
                left: 5px;
            }
            &__desc {
                width: 175px;
            }
        }
        &:hover {
            .advantage {
                &__background {
                    &-light {
                        transform: scale(1.05) translate(0, 3px);
                    }
                    &-image {
                        transform: scale(1.037, 1.035);
                        
                    }
                }
            }
        }
    }
    &--blue {
        .advantage {
            &__background-image {
                top: 8px;
                left: 19px;
            }
            &__desc {
                width: 178px;
                left: 53%;
            }
        }
        &:hover {
            .advantage {
                &__background {
                    &-light {
                        transform: scale(1.06, 1.05) translate(3px, -2px);
                    }
                    &-image {
                        transform: scale(1.07);
                    }
                }
            }
        }
    }
    &--yellow {
        .advantage {
            &__background-image {
                top: 21px;
                left: 21px;
            }
            &__desc {
                width: 216px;
            }
        }
        &:hover {
            .advantage {
                &__background {
                    &-light {
                        transform: scale(1.07) translate(-2px, 1px);
                    }
                    &-image {
                        transform: scale(1.094, 1.103);
                    }
                }
            }
        }
    }
    &--pink {
        .advantage {
            &__background-image {
                top: 11px;
                left: 13px;
            }
            &__desc {
                width: 169px;
                left: 48%;
            }
        }
        &:hover {
            .advantage {
                &__background {
                    &-light {
                        transform: scale(1.03) translate(-2px, -3px);
                    }
                    &-image {
                        transform: scale(1.058);
                    }
                }
            }
        }
    }
    &--green {
        .advantage {
            &__background-image {
                top: 16px;
                left: 12px;
            }
            &__desc {
                width: 212px;
                left: 47%;
            }
        }
        &:hover {
            .advantage {
                &__background {
                    &-light {
                        transform: scale(1.05) translate(0px, 4px) rotate(-14.85deg);
                    }
                    &-image {
                        transform: scale(1.063);
                    }
                }
            }
        }
    }
    &:hover {
        .advantage{
            &__title {
                opacity: 0;
            }
            &__desc {
                opacity: 1;
            }
        }
    }
}