.arrow {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--main-hover-delay);
    path {
        transition: fill var(--main-hover-delay);
    }
    &--left, &--right {
        display: none;
        &:hover {
            path {
                fill: rgb(var(--color-main-lighter));
            }
        }
        &--angle {
            &:hover {
                background-color: rgb(var(--color-main));
                path {
                    fill: rgb(var(--color-white));
                }
            }
        }
    }
    &--right, &--right--angle {
        transform: rotate(180);
        transform: rotate(180deg);
    }
}
@include laptop {
    .arrow {
        width: 22px;
        height: 22px;
        &--left, &--right {
            display: block;
            &--angle {
                display: none;
            }
        }
    }
}