.articles-categ-listing {
    z-index: 50;
    @include font(Roboto, 15px, 17.58px, 400);
    &__background {
        position: sticky;
        width: 100vw;
        height: 100vh;
        display: none;
        z-index: -1;
    }
    &__select{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        &[data-state="active"] {
            .articles-categ-listing__content {
                &-container {
                    opacity: 1;
                    display: block;
                }
                label {
                    max-height: 30px;
                }
            }
        }
    }
    &__title {
        width: 100%;
        height: 40px;
        border: 1px solid rgb(var(--color-grey-border));
        background-color: white;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 18px;
        cursor: pointer;
        z-index: 1;
        &--default {
            color: rgb(var(--color-grey));
        }
    }
    &__content-container {
        top: 40px;
        position: absolute;
        width: 100%;
        height: 203px;
        opacity: 0;
        overflow-y: scroll;
        border-radius: 0 0 15px 15px;
        border: 1px solid rgb(var(--color-grey-border));
        border-top: unset;
        transition: all var(--main-hover-delay);
        display: none;
    }
    &__content {
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 100%;
        padding: 0px 23px 7px;
        z-index: 50;
        input {
            display: none;
        }
        label {
            margin-top: 15px;
            max-height: 0;
            width: max-content;
            transition: all var(--main-hover-delay);
            overflow: hidden;
            cursor: pointer;
            &:hover {
                color: rgb(var(--color-main));
            }
        }
    }
}