.banner {
    position: relative;
    height: 700px;
    .template-container {
        height: 100%;
    }
    &__background {
        position: absolute;
        right: 0;
    }
    &__product {
        position: absolute;
        width: 812px;
        height: 533px;
        right: 35%;
        top: 50%;
        transform: translate(50%, -50%);
    }
    &__content {
        width: 489px;
        z-index: 10;
        position: relative;
        padding-top: 87px;
    }
    &__buttons-container {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        position: relative;
        align-items: center;
    }
    &__desc, &__title {
        margin-bottom: 20px;
    }
    &__desc {
        @include fontAdaptive(18px, 26px, 400)
    }
    &__button, &__link {
        width: 48%;
        height: 35px;
    }
    &--brand {
        .banner {
            &__button {
                height: 46px;
                &--brand {
                    display: none;
                }
            }
            &__link {
                text-decoration: underline dashed;
                text-underline-offset: 6px;
                text-decoration-thickness: 1px;
            }
        }
    }
}
@include wide {
    .banner {
        &__background {
            right: unset;
            left: 50%;
            img {
                width: unset;
            }
        }
    }
}
@include desktop {
    .banner {
        height: 600px;
        &__title {
            @include fontAdaptive(40px, 48px, 800);
            margin-bottom: 12px;
        }
        &__background {
            right: 0;
            width: 881px;
        }
        &__content {
            width: 440px;
        }
        &__desc {
            margin-bottom: 30px;
        }
        &__product {
            top: 78px;
            right: unset;
            left: 319px;
            transform: scale(.74);
            transform-origin: left top;
        }
    }
}
@include laptop {
    .banner {
        height: auto;
        &__title {
            margin-bottom: 22px;
            padding-top: 557px;
        }
        &__desc {
            display: none;
        }
        &__background {
            width: 904px;
        }
        &__content {
            width: 698px;
            height: 100%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            padding-top: 0;
        }
        &__button {
            display: none;
        }
        &__link {
            width: max-content;
            height: max-content;
        }
        &__buttons-container {
            flex-grow: 0;
        }
        &__product {
            top: 66px;
            left: 50%;
            transform: scale(.88) translateX(-50%);
            transform-origin: left;
        }
        &--brand {
            .banner {
                &__buttons-container {
                    width: 250px;
                }
                &__button {
                    &--brand {
                        display: flex;
                    }
                }
            }
        }
    }
}
@include medium {
    .banner {
        &__background {
            width: 818px;
        }
    }
}
@include tablet {
    .banner {
        .template-container {
            padding: 0 16px;
        }
        &__title {
            @include fontAdaptive(26px, 31.2px, 800);
            margin-bottom: 30px;
            padding-top: 345px;
        }
        &__content {
            width: 100%;
        }
        &__background {
            right: -64px;
            width: 509px;
        }
        &__product {
            transform: scale(.5) translateX(-50%);
            top: -44px;
        }
        &--brand {
            .banner {
                &__product {
                    top: -70px;
                }
            }
        }
    }
}