.brand-card {
    background-color: rgb(var(--color-white));
    position: relative;
    display: block;
    border-radius: 20px;
    height: 332px;
    overflow: hidden;
    padding: 30px 35px;
    img {
        width: unset;
        object-fit: contain;
    }
    &__brand-logo {
        position: relative;
        display: flex;
        margin-bottom: 20px;
        z-index: 20;
        path {
            transition: fill var(--main-hover-delay);
        }
    }
    &__category {
        display: none;
        position: relative;
        color: rgb(var(--color-black));
        z-index: 30;
        transition: color var(--main-hover-delay);
        margin-bottom: 10px;
        @include font("Roboto", 18px, 25.2px, 500);
    }
    &__desc {
        position: relative;
        margin-bottom: 14px;
        color: rgb(var(--color-black));
        max-width: 201px;
        z-index: 30;
        transition: color var(--main-hover-delay);
    }
    &__link {
        position: relative;
        @include font("Montserrat", 16px, 22.4px, 500);
        color: rgb(var(--color-main));
        z-index: 30;
        transition: color var(--main-hover-delay);
        display: flex;
        align-items: center;
        svg {
            margin: 2px 0 0 9px;
            path {
                transition: fill var(--main-hover-delay), stroke var(--main-hover-delay);
            }
        }
    }
    &__product, &__product-mobile {
        position: absolute;
        bottom: 0px;
        right: 18px;
        z-index: 10;
        width: 332px;
        height: 332px;
        img {
            height: 100%;
            width: 100%;
        }
    }
    &__product-mobile {
        display: none;
        left: 50%;
        right: 0;
        width: 260px;
        height: 260px;
        transform: translateX(-50%);
        img {
            width: 100%;
        }
    }
    &__animation-img1, &__animation-img2, &__animation-mobile {
        position: absolute;
        bottom: 0;
        right: 0;
        transition: all var(--brand-cards-hover-delay);
    }
    &__animation-mobile {
        display: none;
        bottom: -30px;
        right: -40px;
    }
    &__animation-img1 {
        z-index: 5;
    }
    &__animation-img2 {
        z-index: 3;
    }
    &:hover {
        .brand-card {
            &__animation-img1, &__animation-img2, &__animation-mobile {
                transform: scale(10);
            }
            &__desc, &__link, &__category {
                color: rgb(var(--color-white));
            }
            &__link {
                path {
                    fill: rgb(var(--color-white));
                    stroke: rgb(var(--color-white));
                }
            }
        }
    }
    &--big {
        width: 100%;
        &:hover {
            .brand-card {
                &__animation-img1, &__animation-img2 {
                    transform: scale(15);
                }
            }
        }
    }
    &--biruse {
        &:hover {
            .brand-card {
                &__brand-logo {
                    path {
                        fill: rgb(var(--color-white));
                    }
                }
            }
        }
    }
    &--pink {
        .brand-card {
            &__animation-mobile  {
                bottom: -105px;
                right: -20px;
            }
            &__link {
                color: rgb(var(--color-red-lighter));
                path {
                    fill: rgb(var(--color-red-lighter));
                    stroke: rgb(var(--color-red-lighter));
                }
            }
        }
    }
    &--blue {
        .brand-card {
            &__animation-mobile  {
                bottom: -105px;
                right: -5px;
            }
            &__link {
                color: rgb(var(--color-blue-darker));
                path {
                    fill: rgb(var(--color-blue-darker));
                    stroke: rgb(var(--color-blue-darker));
                }
            }
        }
        &:hover {
            .brand-card {
                &__desc, &__category {
                    color: rgb(var(--color-black));
                }
                &__link {
                    color: rgb(var(--color-blue-darker));
                    path {
                        fill: rgb(var(--color-blue-darker));
                        stroke: rgb(var(--color-blue-darker));
                    }
                }
            }
        }
    }
    &--gray {
        .brand-card {
            &__animation-mobile  {
                bottom: -270px;
                right: -65px;
            }
            &__link {
                color: rgb(var(--color-orange));
                path {
                    fill: rgb(var(--color-orange));
                    stroke: rgb(var(--color-orange));
                }
            }
        }
        &:hover {
            .brand-card {
                &__desc, &__category {
                    color: rgb(var(--color-black));
                }
                &__link {
                    color: rgb(var(--color-orange));
                    path {
                        fill: rgb(var(--color-orange));
                        stroke: rgb(var(--color-orange));
                    }
                }
            }
        }
    }
    &--green {
        .brand-card {
            &__animation-img1 {
                &--green {
                    bottom: -50px;
                    right: -120px;
                }
            }
            &__animation-img2 {
                &--green {
                    bottom: -80px;
                    right: -150px;
                }
            }
            &__animation-mobile  {
                right: -115px;
                bottom: -150px;
            }
            &__link {
                color: rgb(var(--color-green-lighter));
                path {
                    fill: rgb(var(--color-green-lighter));
                    stroke: rgb(var(--color-green-lighter));
                }
            }
        }
        &:hover {
            .brand-card {
                &__desc, &__category {
                    color: rgb(var(--color-black));
                }
                &__link {
                    color: rgb(var(--color-green-lighter));
                    path {
                        fill: rgb(var(--color-green-lighter));
                        stroke: rgb(var(--color-green-lighter));
                    }
                }
            }
        }
    }
    &--red {
        .brand-card {
            &__animation-img1{
                right: -58px;
                bottom: -74px;
            }
            &__animation-img2  {
                right: -50px;
                bottom: -70px;
            }
            &__animation-mobile  {
                bottom: -10px;
                right: 0;
                transform-origin: bottom right;
            }
            &__link {
                color: rgb(var(--color-red-lighter));
                path {
                    fill: rgb(var(--color-red-lighter));
                    stroke: rgb(var(--color-red-lighter));
                }
            }
        }
    }
    &--violet {
        .brand-card {
            &__animation-mobile  {
                bottom: -220px;
                right: 0;
            }
            &__link {
                color: rgb(var(--color-violet-lighter));
                path {
                    fill: rgb(var(--color-violet-lighter));
                    stroke: rgb(var(--color-violet-lighter));
                }
            }
        }
    }
    &--yellow {
        .brand-card {
            &__animation-mobile  {
                right: 8px;
                bottom: -150px;
            }
            &__link {
                color: rgb(var(--color-yellow-darker));
                path {
                    fill: rgb(var(--color-yellow-darker));
                    stroke: rgb(var(--color-yellow-darker));
                }
            }
        }
        &:hover {
            .brand-card {
                &__category, &__desc {
                    color: rgb(var(--color-black));
                }
                &__link {
                    color: rgb(var(--color-yellow-darker));
                    path {
                        fill: rgb(var(--color-yellow-darker));
                        stroke: rgb(var(--color-yellow-darker));
                    }
                }
            }
        }
    }
}
@include medium {
    .brand-card {
        height: 320px;
        padding: 20px;
        padding-top: 18px;
        &__brand-logo {
            justify-content: center;
            transform: scale(.82);
            margin-bottom: 7px;
        }
        &__category {
            display: block;
            text-align: center;
        }
        &__desc {
            display: none;
        }
        &__link {
            justify-content: center;
        }
        &__product {
            display: none;
            width: 260px;
            height: 260px;
            &-mobile {
                display: block;
            }
        }
        &__animation-img1, &__animation-img2 {
            display: none;
        }
        &__animation-mobile {
            display: block;
        }
    }
}