@import './_fonts';
.breadcrumps-container {
    display: flex;
    align-items: center;
    align-items: center;
    color: rgba(189, 189, 189, 1);
    a {
        @include font(var(--font-montserrat), 16px, 22.4px, 400);
        transition: color var(--main-hover-delay);
        color: rgba(189, 189, 189, 1);
        cursor: pointer;
        path {
            transition: stroke var(--main-hover-delay);
        }
        &:hover {
            color: var(--main-color);
            path {
                stroke: var(--main-color);
            }
        }
    }
}