.breadcrumps-container {
    display: flex;
    align-items: center;
    color: rgb(var(--color-grey-lighter));
    @include font(var(--font-montserrat), 16px, 22.4px, 400);
    a {
        transition: color var(--main-hover-delay);
        color: rgb(var(--color-grey-lighter));
        cursor: pointer;
        path {
            transition: stroke var(--main-hover-delay);
        }
        &:hover {
            color: rgb(var(--color-main));
            path {
                stroke: rgb(var(--color-main));
            }
        }
    }
}