.checkbox {
    input {
        display: none;
        &:checked ~ .checkbox__label::after {
            transform: scale(1);
        }
    }
    &__label {
        color: rgb(var(--color-grey));
        user-select: none;
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        &::before {
            content: "";
            flex-shrink: 0;
            width: 24px;
            height: 24px;
            background-color: rgb(var(--color-white));
            border-radius: 3px;
            border: 1px solid rgb(var(--color-main));
            margin-right: 18px;
            align-self: flex-start;
        }
        &::after {
            content: url("/images/form/checkbox/checkmark.svg");
            position: absolute;
            transform: scale(0);
            transition: transform var(--main-hover-delay);
            top: 3px;
            left: 5px;
        }
    }
    &__text {
        .intext-link {
            @include font("Roboto", 16px, 22.4px, 400);
        }
    }
}