.chesses-list {
    &__header {
        margin-bottom: 35px;
    }
    &__card {
        &:nth-child(n+2) {
            margin-top: 35px;
        }
    }
}
@include laptop {
    .chesses-list {
        &__header {
            margin-bottom: 100px;
        }
    }
}
@include medium {
    .chesses-list {
        &__header {
            margin-bottom: 50px;
        }
        &__card {
            &:nth-child(n+2) {
                display: none;
            }
        }
    }
}
@include tablet {
    .chesses-list {
        .component-header__tag {
            margin-bottom: 13px;
        }
        &__header {
            margin-bottom: 20px;
        }
    }
}