.circle-button {
    display: flex;
    position: relative;
    transform: translate(-50%, -50%);
    width: 145px;
    height: 143px;
    transition: background-color var(--main-hover-delay);
    border-radius: 50%;
    background-color: rgba(var(--color-main), .4);
    cursor: pointer;
    &__text {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 21px;
        @include font(var(--font-montserrat), 16px, 22.4px, 400);
        color: rgb(var(--color-white));
        transition: opacity var(--main-hover-delay);
        opacity: 0;
    }
    &__icon {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        & svg {
            position: relative;
            & path:nth-child(2) {
                transform: translate(23%, 23%);
            }
        }
    }
    &:hover {
        background-color: rgb(var(--color-main));
        & .circle-button__text {
            opacity: 1;
        }
    }
    &--hidden {
        display: none;
    }
}
@include medium {
    .circle-button {
        height: 81px;
        width: 82px;
        &__icon {
            transform: translate(-50%, -50%) scale(.56);
        }
        &__text {
            font-size: 12px;
            bottom: 15px;
        }
    }
}