.close-small-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
        rect {
            transition: fill var(--main-hover-delay);
        }
    }
    &:hover {
        svg {
            rect {
                fill: rgb(var(--color-main-lighter));
            }
        }
    }
}