.feedback-modal {
    width: 600px;
    padding-bottom: 10px;
    background-color: rgb(var(--color-white));
    position: relative;
    &__close-button {
        position: fixed;
        top: 0;
        right: 0;
    }
    &__title {
        text-align: center;
        margin-bottom: 44px;
    }
    &__subtitle {
        margin-bottom: 20px;
    }
    &__button {
        width: 100%;
    }
    &__success {
        display: none;
        align-items: center;
        flex-direction: column;
    }
    &__message-icon {
        margin-bottom: 37px;
    }
    &__success-button {
        width: 396px;
    }
    &--success {
        .form-container {
            display: none;
        }
        .feedback-modal {
            &__success {
                display: flex;
            }
        }
    }
}
.feedback-modal.simplebar-scrollable-y {
    padding-right: 16px;
    .simplebar-vertical {
        margin-top: 80px;
        margin-bottom: 20px;
        margin-right: 19px;
    }
}