.intext-link {
    @include font(var(--font-montserrat), 16px, 22.4px, 700);
    color: rgb(var(--color-main));
    transition: color var(--main-hover-delay);
    &:hover {
        color: rgb(var(--color-main-lighter));
    }
}
.intext-link--white {
    color: rgb(var(--color-white));
}