.like {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    path {
        transition: fill var(--main-hover-delay);
    }
    &:hover {
        path {
            fill: rgb(var(--color-main-lighter))
        }
    }
}