.main-button {
    border-radius: 50px;
    border: 1px solid rgb(var(--color-main));
    color: rgb(var(--color-main));
    background-color: unset;
    @include font(var(--font-montserrat), 16px, 22.4px, 700);
    padding: 14px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--main-hover-delay), color var(--main-hover-delay);
    &:hover {
        background-color: rgb(var(--color-main));
        color: rgb(var(--color-white));
    }
    &--inverted {
        background-color: rgb(var(--color-main));
        color: rgb(var(--color-white));
        &:hover {
            color: var(--main-color);
            background-color: unset;
        }
    }
    &--lighter {
        background-color: rgb(var(--color-main-lighter));
        color: rgb(var(--color-white));
        border: 1px solid rgb(var(--color-white));
        &:hover {
            color: rgb(var(--color-main-lighter));
            background-color: rgb(var(--color-white));
            border: 1px solid rgb(var(--color-main-lighter));
        }
    }
    &--pink {
        background-color: rgb(var(--color-pink));
        color: rgb(var(--color-white));
        border: 1px solid rgb(var(--color-white));
        &:hover {
            color: rgb(var(--color-pink));
            background-color: rgb(var(--color-white));
            border: 1px solid rgb(var(--color-pink));
        }
    }
}