.medicament-list {
    .medicament-list__swiper-slide {
        height: auto;
    }
    .medicament-card {
        height: 100%;
    }
    &__swiper {
        padding: 20px;
    }
    &__bullet {
        position: relative;
        display: inline-block;
        margin: 0 15px 4px;
        background-color: rgb(var(--color-grey-lighter));
        border-radius: 50px;
        width: 6px;
        height: 6px;
        transition: var(--main-hover-delay) transform, var(--main-hover-delay) left;
        cursor: pointer;
        &--active {
            background-color: unset;
            width: 15px;
            height: 15px;
            border: 1px solid rgb(var(--color-grey-lighter));
            margin-bottom: 0;
        }
    }
    &__swiper-pagination {
        line-height: 0;
        bottom: 0;
        margin: 0 auto;
        margin-top: 40px;
        left: unset;
        transform: unset;
        overflow: hidden;
        text-wrap: nowrap;
        display: none;
    }
    &__button {
        position: absolute;
        top: 50%;
        z-index: 10;
        transform: scale(-1, 1) translateY(-50%);
        &--prev {
            left: -8px;
            transform: translateY(-50%);
        }
        &--next {
            right: -8px;
        }
        &--disabled {
            path {
                fill: rgb(var(--color-main-lighter));
            }
            &:hover {
                cursor: unset;
                background-color: unset;
                path {
                    fill: rgb(var(--color-main-lighter));
                }
            }
        }
    }
}

@include laptop {
    .medicament-list {
        &__swiper-pagination {
            display: block;
        }
        &__button {
            bottom: 20px;
            top: unset;
            width: 22px;
            height: 22px;
            svg {
                transform: scale(1) translateY(50%);
            }
            &:hover {
                background-color: unset;
                path {
                    fill: rgb(var(--color-main-lighter))
                }
            }
            &--prev {
                left: calc(30px - 7.5px);
            }
            &--next {
                right: calc(30px - 7.5px);
            }
        }
    }
}
@include tablet {
    .medicament-list {
        &__button {
            &--prev {
                left: calc(20px - 7.5px);
            }
            &--next {
                right: calc(20px - 7.5px);
            }
        }
    }
}