.medicament-card {
    padding: 20px;
    border-radius: 20px;
    transition: background-color var(--main-hover-delay), box-shadow var(--main-hover-delay);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    &:hover {
        background-color: rgb(var(--color-white));
        box-shadow: 0 0 20px 0 rgba(var(--color-grey-shadow), 0.81);
        & .medicament-card__image {
            transform: scale(1.1);
        }
    }
    &__image-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 35px;
        height: 150px;
        background-color: inherit;
        overflow: hidden;
    }
    &__image {
        transition: transform var(--main-hover-delay);
    }
    &__pharmacy {
        @include font(var(--font-montserrat), 16px, 22.4px, 400);
        color: rgb(var(--color-grey));
        margin-bottom: 4px;
        word-wrap: break-word;
    }
    &__title {
        color: rgb(var(--color-black));
        margin-bottom: 4px;
    }
    &__description {
        @include font(var(--font-roboto), 16px, 22.4px, 400);
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 67px;
        color: var(--color-black);
    }
    &__button {
        height: 50px;
    }
    &__bullet {
        position: relative;
        background-color: rgba(var(--color-grey-lighter), 0.5);
        margin-right: 3px;
        transform: none;
        width: 8px;
        height: 8px;
        border-radius: 5px;
        display: inline-block;
        cursor: pointer;
        transition: var(--main-hover-delay) transform, var(--main-hover-delay) left;
        &--active {
            background-color: rgb(var(--color-grey-lighter));
        }
    }
}
@include tablet {
    .medicament-card {
        background-color: rgb(var(--color-white));
    }
}
@include phone {
    .medicament-card {
        padding: 15px;
    }
}