.cards-swiper {
    padding: 20px!important;
    .swiper-slide {
        height: auto;
    }
    .medicament-card {
        height: 100%;
    }
    &__bullet {
        position: relative;
        display: inline-block;
        margin: 0 15px 4px;
        background-color: rgb(var(--color-grey-lighter));
        border-radius: 50px;
        width: 6px;
        height: 6px;
        transition: var(--main-hover-delay) transform, var(--main-hover-delay) left;
        &--active {
            background-color: unset;
            width: 15px;
            height: 15px;
            border: 1px solid rgb(var(--color-grey-lighter));
            margin-bottom: 0;
        }
    }
    .custom-swiper-pagination {
        position: relative;
        line-height: 0;
        bottom: 0;
        margin: 0 auto;
        margin-top: 58px;
        left: unset!important;
        transform: unset!important;
    }
}

.custom-swiper-button-prev, .custom-swiper-button-next {
    z-index: 10;
    color: rgb(var(--color-main));
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: background-color var(--main-hover-delay);
    path {
        transition: fill var(--main-hover-delay);
    }
    &:hover{
        background-color: rgb(var(--color-main));
        path {
            fill: white;
        }
    }
    &::after {
        content: "";
    }
    svg {
        transition: filter var(--main-hover-delay);
        transform: scale(.625);
    }
    &--arrow {
      display: none;
      &:hover {
        background-color: unset;
        path {
            fill: rgb(var(--color-main-lighter));
        }
      }
    }
}
.custom-swiper-button-prev {
    left: -8px;
}
.custom-swiper-button-next {
    right: -8px;
}

@include laptop {
    .custom-swiper-button-prev, .custom-swiper-button-next {
        bottom: 20px;
        top: unset;
        width: 22px;
        height: 22px;
        &--angle {
            display: none;
        }
        &--arrow {
            display: block;
        }
        svg {
            transform: scale(1) translateY(-50%);
        }
    }
    .custom-swiper-button-prev {
        left: calc(30px - 7.5px);
    }
    .custom-swiper-button-next {
        right: calc(30px - 7.5px);
    }
}
@include tablet {
    .custom-swiper-button-prev {
        left: calc(20px - 7.5px);
    }
    .custom-swiper-button-next {
        right: calc(20px - 7.5px);
    }
}