.production-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
    }
    &__info {
        max-width: 637px;
    }
    &__title {
        margin-bottom: 16px;
    }
    &__desc {
        margin-bottom: 22px;
        font-size: 18px;
        line-height: 26px;
    }
    &__button {
        width: 457px;
        a {
            padding: 12px 12px;
        }
    }
    &__image {
        .production-ball {
            &--type2 {
                width: 612px;
                height: 489px;
            }
        }
    }
}
@include desktop {
    .production-card {
        &__info {
            max-width: 505px;
        }
        &__button {
            width: 397px;
        }
    }
}
@include laptop {
    .production-card {
        &__image {
            .production-ball {
                &--type1 {
                    width: 486px;
                    height: 411px;
                }
                &--type2 {
                    width: 471px;
                    height: 376px;
                }
            }
        }
        &__info {
            max-width: 443px;
        }
        &__button {
            width: 100%;
        }
    }
}
@include medium {
    .production-card {
        flex-direction: column;
        justify-content: flex-start;
        &__info {
            max-width: 640px;
        }
        &__desc {
            margin-bottom: 53px;
        }
        &__button {
            width: 397px;
            margin: 0 auto;
        }
        &__image {
            margin-bottom: 52px;
            .production-ball {
                &--type1 {
                    width: 581px;
                    height: 491px;
                }
                &--type2 {
                    width: 612px;
                    height: 489px;
                }
            }
        }
    }
}
@include tablet {
    .production-card {
        &__tag {
            margin-bottom: 13px;
        }
        &__desc {
            display: none;
        }
        &__info {
            width: 100%;
        }
        &__button {
            max-width: 320px;
        }
        &__image {
            margin-bottom: 46px;
            .production-ball {
                &--type1 {
                    height: 275px;
                    width: 325px;
                    .production-ball {
                        &__image {
                            transform-origin: unset;
                        }
                    }
                }
                &--type2 {
                    height: 275px;
                    width: 344px;
                    .production-ball {
                        &__image {
                            transform-origin: 200px;
                        }
                    }
                }
            }
        }
    }
}