.production-ball {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: max-content;
    cursor: pointer;
    position: relative;
    &--type1 {
        width: 581px;
        height: 491px;
        .production-ball {
            &__image {
                transform: scale(0.93);
                transform-origin: 230px 250px;
            }
        }
    }
    &--type2 {
        width: 680px;
        height: 544px;
        .production-ball {
            &__image {
                transform: scale(.9);
            }
        }
    }
    &:hover {
        .production-ball__background {
            &--type1 {
                transform: rotate(-17.26deg) translate(8px, 10px) scale(1.02, 1.03);
            }
            &--type2 {
                transform: rotate(-16.45deg) translate(10px, 8px) scale(1.01, 1.02);
            }
        }
    }
    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        image {
            width: 100%;
            height: 100%;
        }
    }
    &__background {
        transition: transform var(--main-hover-delay);
        height: 100%;
        width: 100%;
    }
}