.search-input {
    display: flex;
    align-items: center;
    @include font("Roboto", 15px, 17.58px, 400);
    &__input {
        form {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
        }
    }
    &__like {
        margin-left: 10px;
    }
    .input-text {
        &__input {
            padding-left: 36px;
        }
        &__icon {
            left: 12px;
            right: unset;
        }
    }
    &--active {
        input::placeholder {
            font-style: italic;
        }
        .input-text__input:placeholder-shown {
            padding-right: 0;
            &__reset {
                display: none;
            }
        }
        .input-text__input:not(:placeholder-shown) {
            ~ .input-text__reset {
                display: block;
            }
        }
    }
}