.search-icon {
    display: flex;
    cursor: pointer;
    path {
        transition: fill var(--main-hover-delay), stroke var(--main-hover-delay);
    }
    &:hover {
        path {
            fill: rgb(var(--color-main-lighter));
            stroke: rgb(var(--color-main-lighter));
        }
    }
}