.select {
    @include fontAdaptive(15px, 17.58px, 400);
    position: relative;
    &--list {
        .select {
            &__icon {
                transform: rotate(180deg);
            }
            &__list-container {
                max-height: 203px;
            }
        }
    }
    &__output {
        &--default {
            .select {
                &__label {
                    color: rgb(var(--color-grey));
                }
            }
        }
    }
    &__input {
        display: none;
        &--error { 
            ~ .select {
                &__label {
                    border-color: rgb(var(--color-red-darker));
                }
                &__icon {
                    display: none;
                }
                &__error-icon {
                    display: block;
                }
                &__error-message {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
        &--correct ~ .select__label {
            border-color: rgb(var(--color-violet-lighter));
        }
    }
    &__label {
        color: rgb(var(--color-black));
        border: 1px solid rgb(var(--color-grey-border));
        border-radius: 50px;
        background-color: rgb(var(--color-white));
        display: flex;
        align-items: center;
        padding: 11px 34px 11px 18px;
        cursor: pointer;
    }
    &__icon {
        pointer-events: none;
        position: absolute;
        top: 16px;
        right: 13px;
        transition: transform var(--main-hover-delay);
        display: flex;
    }
    &__error-icon {
        position: absolute;
        cursor: pointer;
        display: none;
        top: 13px;
        right: 16px;
    }
    &__error-message {
        @include fontAdaptive(17px, 19.92px, 400);
        position: absolute;
        bottom: -12px;
        left: 50%;
        width: 100%;
        font-style: italic;
        padding: 14px 20px 5px 20px;
        z-index: var(--z-middle);
        background-color: rgb(var(--color-white));
        border: 1px solid rgb(var(--color-grey-border-middle));
        color: rgb(var(--color-grey));
        border-radius: 8px;
        transform: translate(-50%, 100%);
        min-height: 40px;
        visibility: hidden;
        opacity: 0;
        transition: all var(--main-hover-delay);
        &::before, &::after {
            content: "";
            position: absolute;
            bottom: 100%;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 0;
            border-style: solid;
        }
        &::before {
            border-width: 0 17.5px 13px;
            border-color: transparent transparent rgb(var(--color-grey-border-middle));
        }
        &::after {
            border-width: 0 15.5px 11.5px;
            border-color: transparent transparent rgb(var(--color-white))
        }
    }
    &__list {
        background-color: rgb(var(--color-white));
        border: 1px solid rgb(var(--color-grey-border));
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 0 23px;
        border-top: none;
        .simplebar-vertical {
            margin: 4px 4px 14px 0;
            margin-top: 4px;
            margin-bottom: 14px;
        }
        &-container {
            z-index: var(--z-default);
            width: calc(100% - 35px);
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            max-height: 0px;
            overflow: hidden;
            transition: max-height var(--main-hover-delay);
        }
    }
    &__item {
        cursor: pointer;
        margin-bottom: 13px;
        &:first-of-type {
            margin-top: 16px;
            &.select__item--selected {
                + .select__item {
                    margin-top: 16px;
                }
            }
        }
        &:last-of-type {
            margin-bottom: 16px;
        }
        &:nth-last-child(2):has(+ .select__item--selected) {
            margin-bottom: 16px;
        }
        &--selected {
            display: none;
        }
    }
}