.square-close-button {
    width: 59px;
    height: 59px;
    padding: 17px;
    cursor: pointer;
    background-color: rgb(var(--color-main));
    transition: background-color var(--main-hover-delay);
    &:hover {
        background-color: rgb(var(--color-main-lighter));
    }
}