.switcher {
    position: relative;
    &__header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .switch {
        position: relative;
        border-radius: 50px;
        outline: 1px solid rgb(var(--color-main));
        outline-offset: 3px;
        height: 30px;
        flex-grow: 1;
        &__bar-container {
            position: relative;
            width: 100%;
            height: 100%;
            cursor: pointer;
            overflow: hidden;
            border-radius: 50px;
        }
        &__bar {
            position: absolute;
            z-index: 10;
            height: 100%;
            width: 50%;
            right: 100%;
            transform: translateX(100%);
            border-radius: 50px;
            cursor: default;
            background-color: rgb(var(--color-main-lighter));
            transition: width var(--main-hover-delay), right var(--main-hover-delay), transform var(--main-hover-delay);
            &--right {
                right: 0;
                transform: translateX(0);
            }
        }
    }
    &__left-block-title, &__right-block-title {
        &--mobile {
            display: none;
        }
        &--unselected {
            color: rgb(var(--color-grey-lighter));
            cursor: pointer;
            transition: color var(--main-hover-delay);
            &:hover {
                color: rgb(var(--color-main));
            }
        }
    }
    &__left-block-title {
        margin-right: 30px;
    }
    &__right-block-title {
        margin-left: 30px;
    }
    &__left-block-content, &__right-block-content {
        &--hidden {
            display: none;
        }
    }
}
@include laptop {
    .switcher {
        &__header {
            justify-content: unset;
            margin: 4px 0;
        }
        .switch {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        &__left-block-title, &__right-block-title {
            width: 50%;
            margin: 0;
            text-align: center;
            @include fontAdaptive(16px, 19.2px, 700);
            padding: 7px 0;
            display: none;
            &--mobile {
                display: block;
            }
        }
    }
}
@include tablet {
    .switcher {
        &__header {
            justify-content: space-between;
        }
        &__left-block-title, &__right-block-title {
            width: max-content;
            padding: 7px 12px;
        }
    }
}