extends ~@templates/main-template
include ~@mixins/main-button
include ~@mixins/intext-link

block vars
  - title = 'ui страница'

block content
  section.ui
    h1 Страница ui-компонентов
    +main-button('', 'Текст кнопки', false)
    +intext-link('', 'Текст ссылки', false)
