extends ~@templates/main-template
include ~@mixins/mainButton
include ~@mixins/intextLink
include ~@mixins/breadCrumbs

block vars
  - title = 'ui страница'
  -
    var breadCrumbsItems = [
      {text: 'Статья', link: './'},
      {text: 'Подробнее', link: ''},
    ]

block content
  section.ui
    h1 Страница ui-компонентов
    br
    +mainButton('', 'Текст кнопки', false)
    br
    +mainButton('main-button--lighter', 'Текст кнопки', false)
    br
    +mainButton('main-button--pink', 'Текст кнопки', false)
    br
    +intextLink('', 'Текст ссылки', false)
    br
    +breadCrumbs(breadCrumbsItems)
    br
