mixin advantage(className, color, title, desc)
    .advantage(class= className)
        .advantage__background
            img(src="./images/advantageImages/red.png")
            img(src="./images/advantageImages/redLight.png")
        .advantage__title= title
        .advantage__desc= desc
