mixin arrow(className, left= false)
    if left 
        button.arrow.arrow--left--angle(class= className)
            include ~@icons/slider/left-arrow-angle.svg
        button.arrow.arrow--left(class= className)
            include ~@icons/slider/left-arrow.svg
    else 
        button.arrow.arrow--right--angle(class= className)
            include ~@icons/slider/left-arrow-angle.svg
        button.arrow.arrow--right(class= className)
            include ~@icons/slider/left-arrow.svg