mixin articleBall(className, type=1, big=false, image_id=0, link="#")
    a.article-ball(class= className, class= big ? "article-ball--big" : "", href= link)
        if big
            .article-ball__background.article-ball__background--big
                svg(width="558" height="497" viewBox="0 0 558 497" fill="none" xmlns="http://www.w3.org/2000/svg")
                    g(filter="url(#filter-article-balls-big-background-" + image_id + ")")
                        path(opacity="0.2" d="M8.96703 218.933C-24.4585 332.308 45.1784 397.772 60.9898 412.548C128.316 475.464 290.556 553.387 464.427 437.005C638.299 320.622 538.095 123.311 420.054 32.9619C302.014 -57.3873 59.0808 48.9538 8.96703 218.933Z" fill="#46C0C1")
                    defs
                        filter(id="filter-article-balls-big-background-" + image_id x="0" y="0" width="558" height="515.889" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB")
                            feFlood(flood-opacity="0" result="BackgroundImageFix")
                            feBlend(mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape")
                            feColorMatrix(in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha")
                            feOffset(dy="4")
                            feGaussianBlur(stdDeviation="2")
                            feComposite(in2="hardAlpha" operator="arithmetic" k2="-1" k3="1")
                            feColorMatrix(type="matrix" values="0 0 0 0 0.27451 0 0 0 0 0.752941 0 0 0 0 0.756863 0 0 0 0.2 0")
                            feBlend(mode="normal" in2="shape" result="effect-article-balls-big-background-" + image_id)
            .article-ball__image.article-ball__image--big
                svg(width="510" height="457" viewBox="0 0 510 457" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                    g(filter="url(#filter-article-balls-big-" + image_id + ")")
                        mask(id="mask-article-balls-big-" + image_id style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="100%" height="100%")
                            path(d="M9.20459 184.44C-22.0906 286.13 36.0873 346.515 40.5677 354.756C94.3346 417.938 248.16 515.458 410.95 411.07C573.74 306.683 511.013 113.017 400.496 31.9791C289.978 -49.0586 56.1244 31.9788 9.20459 184.44Z" fill="#46C0C1")
                        g(mask="url(#mask-article-balls-big-" + image_id + ")")
                            rect(x="0" y="0" width="100%" height="100%" fill="url(#pattern-article-balls-big-" +  image_id + ")")
                    defs
                        filter(id="filter-article-balls-big-" + image_id x="0" y="0" width="514" height="461" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB")
                            feFlood(flood-opacity="0" result="BackgroundImageFix")
                            feBlend(mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape")
                            feColorMatrix(in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha")
                            feOffset(dx="4" dy="4")
                            feGaussianBlur(stdDeviation="2")
                            feComposite(in2="hardAlpha" operator="arithmetic" k2="-1" k3="1")
                            feColorMatrix(type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0")
                            feBlend(mode="normal" in2="shape" result="effect-article-balls-big" + image_id)
                        pattern(id="pattern-article-balls-big-" + image_id width="100%" height="100%")
                            block
        else 
            case type 
                when 1
                    .article-ball__background.article-ball__background--type1
                        svg( width="282" height="252" viewBox="0 0 282 252" fill="none" xmlns="http://www.w3.org/2000/svg")
                            g(filter="url(#filter-article-balls-background-" + image_id + ")")
                                path(d="M4.10555 185.145C24.3618 241.004 59.3393 252.394 97.7791 251.978C136.219 251.563 229.632 226.166 267.436 166.906C305.24 107.646 266.097 -14.7227 151.982 1.7471C79.0202 12.2775 -21.2147 115.321 4.10555 185.145Z" fill="#46C0C1" fill-opacity="0.2")
                            defs
                                filter(id="filter-article-balls-background-" + image_id x="0" y="0" width="100%" height="100%" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB")
                                    feFlood(flood-opacity="0" result="BackgroundImageFix")
                                    feBlend(mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape")
                                    feColorMatrix(in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha")
                                    feOffset(dx="4" dy="4")
                                    feGaussianBlur(stdDeviation="2")
                                    feComposite(in2="hardAlpha" operator="arithmetic" k2="-1" k3="1")
                                    feColorMatrix(type="matrix" values="0 0 0 0 0.27451 0 0 0 0 0.752941 0 0 0 0 0.756863 0 0 0 0.2 0")
                                    feBlend(mode="normal" in2="shape" result="effect-article-balls-background-" + image_id)
                    .article-ball__image.article-ball__image--type1
                        svg(width="341" height="319" viewBox="0 0 341 319" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                            g(filter="url(#filter-article-balls-" + image_id + ")")
                                mask(id="mask-article-balls-" + image_id style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="100%" height="100%")
                                    path(d="M163.661 48.8392C114.457 55.3577 68.1814 105.568 56.7361 136.068C-5.40783 301.68 199.343 289.092 255.236 230.067C371.238 107.568 248.737 37.5683 163.661 48.8392Z" fill="#3F286C")
                                g(mask="url(#mask-article-balls-" + image_id + ")")
                                    rect(x="0" y="0" width="100%" height="100%" fill="url(#pattern-article-balls-" + image_id + ")")
                            defs
                                filter(id="filter-article-balls-" + image_id x="0" y="0" width="100%" height="100%" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB")
                                    feFlood(flood-opacity="0" result="BackgroundImageFix")
                                    feBlend(mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape")
                                    feColorMatrix(in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha")
                                    feOffset(dx="4" dy="4")
                                    feGaussianBlur(stdDeviation="2")
                                    feComposite(in2="hardAlpha" operator="arithmetic" k2="-1" k3="1")
                                    feColorMatrix(type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0")
                                    feBlend(mode="normal" in2="shape" result="effect-article-balls-" + image_id)
                                pattern(id="pattern-article-balls-" + image_id width="100%" height="100%")
                                    block
                when 2
                    .article-ball__background.article-ball__background--type2
                        svg(width="262" height="242" viewBox="0 0 262 242" fill="none" xmlns="http://www.w3.org/2000/svg")
                            g(filter="url(#filter-article-balls-background-" + image_id + ")")
                                path(d="M5.33999 140.717C25.5962 196.576 95.9005 242.132 134.34 241.717C172.78 241.302 208.035 207.476 245.84 148.216C283.644 88.9561 253.936 -14.0061 139.821 2.46369C66.8596 12.9941 -19.9803 70.8928 5.33999 140.717Z" fill="#46C0C1" fill-opacity="0.2")
                            defs
                                filter(id="filter-article-balls-background-" + image_id x="0" y="0" width="100%" height="100%" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB")
                                    feFlood(flood-opacity="0" result="BackgroundImageFix")
                                    feBlend(mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape")
                                    feColorMatrix(in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha")
                                    feOffset(dx="4" dy="4")
                                    feGaussianBlur(stdDeviation="2")
                                    feComposite(in2="hardAlpha" operator="arithmetic" k2="-1" k3="1")
                                    feColorMatrix(type="matrix" values="0 0 0 0 0.27451 0 0 0 0 0.752941 0 0 0 0 0.756863 0 0 0 0.2 0")
                                    feBlend(mode="normal" in2="shape" result="effect-article-balls-background-" + image_id)
                    .article-ball__image.article-ball__image--type2
                        svg(width="225" height="224" viewBox="0 0 225 224" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                            g(filter="url(#filter-article-balls-" + image_id + ")")
                                mask(id="mask-article-balls-" + image_id style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="100%" height="100%")
                                    path(d="M12.2172 53.6816C-14.6036 95.4447 12.2172 152.719 28.9802 176.135C144.387 310.189 242.386 126.509 221.755 47.8812C201.124 -30.7468 45.7432 1.47777 12.2172 53.6816Z" fill="#3F286C")
                                g(mask="url(#mask-article-balls-" + image_id + ")")
                                    rect(x="0" y="0" width="100%" height="100%" fill="url(#pattern-article-balls-" + image_id + ")")
                            defs
                                filter(id="filter-article-balls-" + image_id x="0" y="0" width="100%" height="100%" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB")
                                    feFlood(flood-opacity="0" result="BackgroundImageFix")
                                    feBlend(mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape")
                                    feColorMatrix(in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha")
                                    feOffset(dx="4" dy="4")
                                    feGaussianBlur(stdDeviation="2")
                                    feComposite(in2="hardAlpha" operator="arithmetic" k2="-1" k3="1")
                                    feColorMatrix(type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0")
                                    feBlend(mode="normal" in2="shape" result="effect-article-balls-" + image_id)
                                pattern(id="pattern-article-balls-" + image_id width="100%" height="100%")
                                    block
                when 3
                    .article-ball__background.article-ball__background--type3
                        svg(width="252" height="230" viewBox="0 0 252 230" fill="none" xmlns="http://www.w3.org/2000/svg")
                            g(filter="url(#filter-article-balls-background-" + image_id + ")")
                                path(d="M7.58815 79.0001C-9.26051 136.872 7.58742 167.001 33.0874 189.5C58.5873 211.999 133.726 246.664 190.588 220.5C247.451 194.337 287.8 70.6672 203.871 16.3768C150.208 -18.3351 28.649 6.66056 7.58815 79.0001Z" fill="#46C0C1" fill-opacity="0.2")
                            defs
                                filter(id="filter-article-balls-background-" + image_id x="0" y="0" width="100%" height="100%" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB")
                                    feFlood(flood-opacity="0" result="BackgroundImageFix")
                                    feBlend(mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape")
                                    feColorMatrix(in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha")
                                    feOffset(dx="4" dy="4")
                                    feGaussianBlur(stdDeviation="2")
                                    feComposite(in2="hardAlpha" operator="arithmetic" k2="-1" k3="1")
                                    feColorMatrix(type="matrix" values="0 0 0 0 0.27451 0 0 0 0 0.752941 0 0 0 0 0.756863 0 0 0 0.2 0")
                                    feBlend(mode="normal" in2="shape" result="effect-article-balls-background" + image_id)
                    .article-ball__image.article-ball__image--type3
                        svg(width="316" height="311" viewBox="0 0 316 311" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                            g(filter="url(#filter-article-balls-" + image_id + ")")
                                mask(id="mask-article-balls-" + image_id style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="100%" height="100%")
                                    path(d="M101.088 63.8398C47.4679 92.3023 35.0882 140.277 35.0883 162.34C39.7441 215.537 84.3966 245.596 138.589 262.839C192.782 280.082 280.446 221.024 270.088 133.339C259.73 45.6554 168.114 28.2617 101.088 63.8398Z" fill="#A3D6CE")
                                g(mask="url(#mask-article-balls-" + image_id + ")")
                                    rect(x="0" y="0" width="100%" height="100%" fill="url(#pattern-article-balls-" + image_id + ")")
                            defs
                                filter(id="filter-article-balls-" + image_id x="0" y="0" width="100%" height="100%" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB")
                                    feFlood(flood-opacity="0" result="BackgroundImageFix")
                                    feBlend(mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape")
                                    feColorMatrix(in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha")
                                    feOffset(dx="4" dy="4")
                                    feGaussianBlur(stdDeviation="2")
                                    feComposite(in2="hardAlpha" operator="arithmetic" k2="-1" k3="1")
                                    feColorMatrix(type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0")
                                    feBlend(mode="normal" in2="shape" result="effect-article-balls-" + image_id)
                                pattern(id="pattern-article-balls-" + image_id width="100%" height="100%")
                                    block
                when 4
                    .article-ball__background.article-ball__background--type4
                        svg(width="242" height="233" viewBox="0 0 242 233" fill="none" xmlns="http://www.w3.org/2000/svg")
                            g(filter="url(#filter-article-balls-background-" + image_id + ")")
                                path(d="M13.2163 180.98C44.66 232.403 87.5876 236.645 111.717 230.981C170.355 217.216 219.775 181.138 238.716 121.48C257.658 61.8223 190.664 -20.4937 94.0128 5.00647C32.2168 21.3106 -26.0884 116.702 13.2163 180.98Z" fill="#46C0C1" fill-opacity="0.2")
                            defs
                                filter(id="filter-article-balls-background-" + image_id x="0" y="0" width="100%" height="100%" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB")
                                    feFlood(flood-opacity="0" result="BackgroundImageFix")
                                    feBlend(mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape")
                                    feColorMatrix(in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha")
                                    feOffset(dx="4" dy="4")
                                    feGaussianBlur(stdDeviation="2")
                                    feComposite(in2="hardAlpha" operator="arithmetic" k2="-1" k3="1")
                                    feColorMatrix(type="matrix" values="0 0 0 0 0.27451 0 0 0 0 0.752941 0 0 0 0 0.756863 0 0 0 0.2 0")
                                    feBlend(mode="normal" in2="shape" result="effect-article-balls-background-" + image_id)
                    .article-ball__image.article-ball__image--type4
                        svg(width="216" height="224" viewBox="0 0 216 224" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                            g(filter="url(#filter-article-balls-" + image_id + ")")
                                mask(id="mask-article-balls-" + image_id style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="100%" height="100%")
                                    path(d="M1.4509 120.866C-4.54864 181.275 27.6989 208.858 44.5725 215.099C91.4432 240.685 144.565 206.362 188.937 170.791C233.309 135.219 223.309 52.219 144.565 12.2791C65.8216 -27.6608 8.95031 45.3543 1.4509 120.866Z" fill="#A3D6CE")
                                g(mask="url(#mask-article-balls-" + image_id + ")")
                                    rect(x="0" y="0" width="100%" height="100%" fill="url(#pattern-article-balls-" + image_id + ")")
                            defs
                                filter(id="filter-article-balls-" + image_id x="0" y="0" width="100%" height="100%" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB")
                                    feFlood(flood-opacity="0" result="BackgroundImageFix")
                                    feBlend(mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape")
                                    feColorMatrix(in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha")
                                    feOffset(dx="4" dy="4")
                                    feGaussianBlur(stdDeviation="2")
                                    feComposite(in2="hardAlpha" operator="arithmetic" k2="-1" k3="1")
                                    feColorMatrix(type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0")
                                    feBlend(mode="normal" in2="shape" result="effect-article-balls-" + image_id)
                                pattern(id="pattern-article-balls-" + image_id width="100%" height="100%")
                                    block
