include ~@mixins/articleBall
include ~@mixins/inTextLink
mixin articleBallCard(className, image, title="Заголовок", desc="Описание", link="#", big=false, image_id=0, type=1)
    .article-ball-card(class= className class= big ? "article-ball-card--big" : "")
        .article-ball-card__image: +articleBall("", image, type, big, image_id, link)
        .article-ball-card__info
            a.article-ball-card__title(href= link): h6= title
            if big 
                .article-ball-card__desc(href= link)= desc
            +inTextLink("article-ball-card__link", "Подробнее", false, link, true)