mixin brandCard(className, color, big=false, brand, category, desc, link="#", product_image, product_image_mobile)
    - var classList = ["brand-card"]
    if big 
        - classList.push("brand-card--big")
    a(class= classList, class= className, href= link)
        case color 
            when "biruse"
                .brand-card__animation-img1
                    img(src= "./images/brandCardImages/animation/biruse.png")
                .brand-card__animation-img2
                    img(src= "./images/brandCardImages/animation/biruseLight.png")
                .brand-card__animation-mobile 
                    img(src= "./images/brandCardImages/animation/biruseMobile.png")
            when "red"
                .brand-card__animation-img1
                    img(src= "./images/brandCardImages/animation/red.png")
                .brand-card__animation-img2
                    img(src= "./images/brandCardImages/animation/redLight.png")
                .brand-card__animation-mobile 
                    img(src= "./images/brandCardImages/animation/redMobile.png")
            when "yellow"
                .brand-card__animation-img1
                    img(src= "./images/brandCardImages/animation/yellow.png")
                .brand-card__animation-img2
                    img(src= "./images/brandCardImages/animation/yellowLight.png")
                .brand-card__animation-mobile 
                    img(src= "./images/brandCardImages/animation/yellowMobile.png")
            when "violet"
                .brand-card__animation-img1
                    img(src= "./images/brandCardImages/animation/violet.png")
                .brand-card__animation-img2
                    img(src= "./images/brandCardImages/animation/violetLight.png")
                .brand-card__animation-mobile 
                    img(src= "./images/brandCardImages/animation/violetMobile.png")
            when "gray"
                .brand-card__animation-img1
                    img(src= "./images/brandCardImages/animation/gray.png")
                .brand-card__animation-img2
                    img(src= "./images/brandCardImages/animation/grayLight.png")
                .brand-card__animation-mobile 
                    img(src= "./images/brandCardImages/animation/grayMobile.png")
            when "blue"
                .brand-card__animation-img1
                    img(src= "./images/brandCardImages/animation/blue.png")
                .brand-card__animation-img2
                    img(src= "./images/brandCardImages/animation/blueLight.png")
                .brand-card__animation-mobile 
                    img(src= "./images/brandCardImages/animation/blueMobile.png")
            when "green"
                .brand-card__animation-img1.brand-card__animation-img1--green
                    img(src= "./images/brandCardImages/animation/green.png")
                .brand-card__animation-img2.brand-card__animation-img2--green
                    img(src= "./images/brandCardImages/animation/greenLight.png")
                .brand-card__animation-mobile.brand-card__animation-mobile--green
                    img(src= "./images/brandCardImages/animation/greenMobile.png")
            when "pink"
                .brand-card__animation-img1
                    img(src= "./images/brandCardImages/animation/pink.png")
                .brand-card__animation-img2
                    img(src= "./images/brandCardImages/animation/pinkLight.png")
                .brand-card__animation-mobile 
                    img(src= "./images/brandCardImages/animation/pinkMobile.png")
        .brand-card__header
            .brand-card__brand-logo!= brand
            .brand-card__category= category
            .brand-card__desc= desc
            .brand-card__link Подробнее
                include ~@icons/link/right-arrow-angle.svg
        .brand-card__product
            img(src= product_image, alt= "Product Image1")
        .brand-card__product-mobile
            img(src= product_image_mobile, alt= "Product ImageMobile")
