mixin breadCrumbs(items)
    .breadcrumps-container
        a(href='/')
            include ~@icons/breadCrumbs/homeIcon.svg
        | &ensp;/&ensp;
        each item, index in items 
            if item.link 
                a(href= item.link)= item.text 
            else 
                | #{item.text}
            if index !== items.length - 1
                | &ensp;/&ensp;
