mixin mainButton(className, text= 'Кнопка', invert= false, link='#')
    - var classList = ['main-button']
    if invert 
        - classList.push('main-button--inverted')
    a(class= classList, class= className, href= link)= text