include ~@mixins/medicamentCard
include ~@mixins/arrow

mixin medicamentList(className, cardsList)
    .swiper-container
        +arrow("custom-swiper-button custom-swiper-button--prev", left= true) 
        +arrow("custom-swiper-button custom-swiper-button--next", left= false) 
        .swiper.medicament-list(class= className)
            .swiper-wrapper
                each card in cardsList 
                    .swiper-slide 
                        +medicamentCard('', card)
            .custom-swiper-pagination
