include ~@mixins/mainButton
include ~@mixins/tag

mixin medicamentCard(className, card)
    .medicament-card(class=className)
        if card.tag
            +tag('medicament-card__tag', card.tag)
        .medicament-card__swiper-container
            .swiper.medicament-card__icons-swiper
                .swiper-wrapper
                    each icon in card.icons
                        .swiper-slide
                            .medicament-card__image-container
                                a(href= card.link).medicament-card__image
                                            img(src= icon)
                .swiper-pagination
        .medicament-card__info
            a(href= card.link).medicament-card__pharmacy= card.pharmacy
            a(href= card.link).medicament-card__title: h5= card.title
            a(href= card.link).medicament-card__description= card.description
            +mainButton('medicament-card__button', text= 'Подробнее', false, link= card.link)
        