include ~@mixins/medicamentCard
include ~@mixins/arrow

mixin medicamentList(className, cardsList)
    .medicament-list(class= className)
        +arrow("medicament-list__button medicament-list__button--prev", left= true) 
        +arrow("medicament-list__button medicament-list__button--next", left= false) 
        .swiper.medicament-list__swiper
            .swiper-wrapper
                each card in cardsList 
                    .swiper-slide.medicament-list__swiper-slide 
                        +medicamentCard('', card)
            .medicament-list__swiper-pagination
