include ~@mixins/medicamentCard
include ~@mixins/arrow

mixin medicamentList(className, cardsList)
    .swiper-container
        +arrow("swiper-button-prev", left= true) 
        +arrow("swiper-button-next", left= false) 
        .swiper.cards-swiper(class= className)
            .swiper-wrapper
                each card in cardsList 
                    .swiper-slide 
                        +medicamentCard('', card)
            .swiper-pagination.custom-swiper-pagination
