mixin productionBall(className, image, image_id, type=1, link="#")
    case type 
        when 1
            a.production-ball.production-ball--type1(class= className, href= link)
                .production-ball__background.production-ball__background--type1
                    svg(width="100%" height="100%" viewBox="0 0 581 491" fill="none" xmlns="http://www.w3.org/2000/svg")
                        g(opacity="0.2" filter="url(#filter-prod-ball-background-" + image_id + ")")
                            path(d="M285.801 0.526171C40.6391 -4.90433 -3.98025 156.686 1.33333 248.007C18.9405 550.61 361.874 518.838 503.75 427.677C637.047 342.028 617.884 7.88205 285.801 0.526171Z" fill="#46C0C1")
                        defs
                            filter(id="filter-prod-ball-background-" + image_id x="0" y="0" width="682" height="548" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB")
                                feFlood(flood-opacity="0" result="BackgroundImageFix")
                                feBlend(mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape")
                                feColorMatrix(in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha")
                                feOffset(dx="2" dy="8")
                                feGaussianBlur(stdDeviation="2")
                                feComposite(in2="hardAlpha" operator="arithmetic" k2="-1" k3="1")
                                feColorMatrix(type="matrix" values="0 0 0 0 0.27451 0 0 0 0 0.752941 0 0 0 0 0.756863 0 0 0 1 0")
                                feBlend(mode="multiply" in2="shape" result="effect-prod-ball-background-" + image_id)
                .production-ball__image.production-ball__image--type1
                    svg(width="100%" height="100%" viewBox="0 0 518 455" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                        g(filter="url(#filter-prod-ball-" + image_id + ")")
                            mask(id="mask-prod-ball-" + image_id style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="100%" height="100%")
                                path(d="M255.416 4.37759C36.3489 40.6207 -4.64208 143.344 1.40986 226.992C21.4636 504.17 344.852 483.284 458.431 398.269C572.011 313.255 529.251 -40.9263 255.416 4.37759Z" fill="#F17C9A")
                            g(mask="url(#mask-prod-ball-" + image_id + ")")
                                rect(x="0" y="0" width="100%" height="100%" fill="url(#pattern-prod-ball-" + image_id + ")")
                        defs
                            filter(id="filter-prod-ball-" + image_id x="0" y="0" width="682" height="548" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB")
                                feFlood(flood-opacity="0" result="BackgroundImageFix")
                                feBlend(mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape")
                                feColorMatrix(in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha")
                                feOffset(dx="10" dy="10")
                                feGaussianBlur(stdDeviation="4")
                                feComposite(in2="hardAlpha" operator="arithmetic" k2="-1" k3="1")
                                feColorMatrix(type="matrix" values="0 0 0 0 0.2 0 0 0 0 0.2 0 0 0 0 0.2 0 0 0 0.5 0")
                                feBlend(mode="normal" in2="shape" result="effect-prod-ball-" + image_id)
                            pattern(id="pattern-prod-ball-" + image_id width="100%" height="100%")
                                image(xlink:href= image width= "300" height= "200")
        when 2
            a.production-ball.production-ball--type2(class= className, href= link)
                .production-ball__background.production-ball__background--type2
                    svg(width="100%" height="100%" viewBox="0 0 680 544" fill="none" xmlns="http://www.w3.org/2000/svg")
                        g(opacity="0.2" filter="url(#filter-prod-ball-background-" + image_id + ")")
                            path(d="M9.47585 165.827C-36.3057 282.398 97.8919 431.151 112.589 447.031C180.985 520.936 327.475 603.962 534.558 481.858C741.641 359.755 707.275 145.722 558.462 64.4564C366.186 -40.544 84.174 -24.3739 9.47585 165.827Z" fill="#46C0C1")
                        defs
                            filter(id="filter-prod-ball-background-" + image_id x="0" y="0" width="682" height="548" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB")
                                feFlood(flood-opacity="0" result="BackgroundImageFix")
                                feBlend(mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape")
                                feColorMatrix(in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha")
                                feOffset(dx="2" dy="8")
                                feGaussianBlur(stdDeviation="2")
                                feComposite(in2="hardAlpha" operator="arithmetic" k2="-1" k3="1")
                                feColorMatrix(type="matrix" values="0 0 0 0 0.27451 0 0 0 0 0.752941 0 0 0 0 0.756863 0 0 0 1 0")
                                feBlend(mode="multiply" in2="shape" result="effect-prod-ball-background-" + image_id)
                .production-ball__image.production-ball__image--type2 
                    svg(width="100%" height="100%" viewBox="0 0 601 490" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                        g(filter="url(#filter-prod-ball-" + image_id + ")")
                            mask(id="mask-prod-ball-" + image_id style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="100%" height="100%")
                                path(d="M10.9165 156.913C-29.8747 260.71 55.8385 369.057 68.9334 383.197C129.874 449.004 304.225 550.574 488.735 441.851C673.245 333.127 602.15 131.417 476.886 47.0131C351.622 -37.3906 77.4723 -12.4458 10.9165 156.913Z" fill="#FBC65C")
                            g(mask="url(#mask-prod-ball-" + image_id + ")")
                                rect(width="100%" height="100%" x="0" y="0" fill="url(#pattern-prod-ball-" + image_id + ")")
                        defs
                            filter(id="filter-prod-ball-" + image_id x="0" y="0" width="609.002" height="497.688" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB")
                                feFlood(flood-opacity="0" result="BackgroundImageFix")
                                feBlend(mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape")
                                feColorMatrix(in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha")
                                feOffset(dx="10" dy="10")
                                feGaussianBlur(stdDeviation="4")
                                feComposite(in2="hardAlpha" operator="arithmetic" k2="-1" k3="1")
                                feColorMatrix(type="matrix" values="0 0 0 0 0.2 0 0 0 0 0.2 0 0 0 0 0.2 0 0 0 0.5 0")
                                feBlend(mode="normal" in2="shape" result="effect-prod-ball-" + image_id)
                            pattern(id="pattern-prod-ball-" + image_id width="100%" height="100%")
                                image(xlink:href= image width= "300" height= "200")