mixin slider(className)
  .swiper-container(class=className)
    .swiper-wrapper
        +card('swiper-slide', './images/jaba.png', 'заголовок карточки', '01.01.2001')
        +card('swiper-slide', './images/jaba.png', 'заголовок карточки', '01.01.2001')
        +card('swiper-slide', './images/jaba.png', 'заголовок карточки', '01.01.2001')
        +card('swiper-slide', './images/jaba.png', 'заголовок карточки', '01.01.2001')
        +card('swiper-slide', './images/jaba.png', 'заголовок карточки', '01.01.2001')
        +card('swiper-slide', './images/jaba.png', 'заголовок карточки', '01.01.2001')
        +card('swiper-slide', './images/jaba.png', 'заголовок карточки', '01.01.2001')
        +card('swiper-slide', './images/jaba.png', 'заголовок карточки', '01.01.2001')
        +card('swiper-slide', './images/jaba.png', 'заголовок карточки', '01.01.2001')
        +card('swiper-slide', './images/jaba.png', 'заголовок карточки', '01.01.2001')
        +card('swiper-slide', './images/jaba.png', 'заголовок карточки', '01.01.2001')
        +card('swiper-slide', './images/jaba.png', 'заголовок карточки', '01.01.2001')
