mixin switcher(className, tag, leftName, leftNameMobile, rightName, rightNameMobile)
    .switcher
        .switcher__header
            h2.switcher__left-block-title= leftName
            h2.switcher__left-block-title.switcher__left-block-title--mobile= leftNameMobile
            .switch
                .switch__bar-container
                    .switch__bar
            h2.switcher__right-block-title.switcher__right-block-title--unselected= rightName
            h2.switcher__right-block-title.switcher__right-block-title--mobile.switcher__right-block-title--unselected= rightNameMobile
        block