mixin zoomImageIcon(className, text="увеличить")
    .zoom-image-icon(class= className)
        .zoom-image-icon__container
            .zoom-image-icon__icon 
                include ~@icons/buttons/searchIcon.svg
            .zoom-image-icon__text= text