mixin zoomImageIcon(className, text="увеличить")
    .zoom-image-icon(class= className)
        .zoom-image-icon__container
            .zoom-image-icon__icon 
                svg(width="43" height="43" viewBox="0 0 43 43" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M31.0781 28.8125C33.6532 25.7498 35.0642 21.8764 35.0625 17.875C35.0625 14.4756 34.0545 11.1526 32.1659 8.32614C30.2773 5.49967 27.593 3.29671 24.4524 1.99583C21.3118 0.694947 17.8559 0.354577 14.5219 1.01776C11.1878 1.68094 8.12533 3.3179 5.72161 5.72161C3.3179 8.12533 1.68094 11.1878 1.01776 14.5219C0.354577 17.8559 0.694947 21.3118 1.99583 24.4524C3.29671 27.593 5.49967 30.2773 8.32614 32.1659C11.1526 34.0545 14.4756 35.0625 17.875 35.0625C21.8764 35.0642 25.7498 33.6532 28.8125 31.0781L40.6719 42.875L42.875 40.6719L31.0781 28.8125ZM17.875 31.9375C15.0937 31.9375 12.3749 31.1128 10.0623 29.5676C7.74973 28.0223 5.94731 25.8261 4.88295 23.2565C3.81859 20.6869 3.54011 17.8594 4.08272 15.1315C4.62532 12.4037 5.96464 9.89799 7.93132 7.93132C9.89799 5.96464 12.4037 4.62532 15.1315 4.08272C17.8594 3.54011 20.6869 3.81859 23.2565 4.88295C25.8261 5.94731 28.0223 7.74973 29.5676 10.0623C31.1128 12.3749 31.9375 15.0937 31.9375 17.875C31.9375 21.6046 30.4559 25.1815 27.8187 27.8187C25.1815 30.4559 21.6046 31.9375 17.875 31.9375Z" fill="white")
                    path(d="M15.6875 6.3125H9.4375V0.0625H6.3125V6.3125H0.0625V9.4375H6.3125V15.6875H9.4375V9.4375H15.6875V6.3125Z" fill="white")
            .zoom-image-icon__text= text