.main-page {
    .main-banner {
        margin-bottom: 40px;
        position: relative;
    }
    .advantages {
        margin-bottom: 110px;
        position: relative;
    }
    .brands {
        margin-bottom: 100px;
        position: relative;
        &__plant {
            position: relative;
            .plant {
                bottom: -170px;
                right: -350px;
            }
        }
    }
    .about-blue {
        margin-bottom: 88px;
        position: relative;
    }
    .medicaments {
        margin-bottom: 100px;
        position: relative;
        .plant {
            top: -40px;
        }
    }
    .production-list {
        margin-bottom: 169px;
        position: relative;
        .plant {
            top: -40px;
        }
    }
    .about-red {
        margin-bottom: 82px;
        position: relative;
        .plant {
            top: -440px;
        }
    }
    .journal {
        margin-bottom: 65px;
        position: relative;
        .plant {
            bottom: -80px;
        }
    }
    .map {
        margin-bottom: 67px;
        position: relative;
    }
}
@include desktop {
    .main-page {
        .brands {
            margin-bottom: 77px;
            &__plant {
                .plant {
                    bottom: -215px;
                    right: -155px;
                }
            }
        }
        .about-blue {
            margin-bottom: 72px;
        }
        .medicaments {
            margin-bottom: 38px;
        }
        .production-list {
            margin-bottom: 79px;
        }
        .about-red {
            margin-bottom: 57px;
            .plant {
                top: -440px;
                left: 20px;
            }
        }
        .journal {
            .plant {
                bottom: -300px;
            }
        }
        .map {
            margin-bottom: 51px;
        }
    }
}
@include laptop {
    .main-page {
        .main-banner {
            margin-bottom: 130px;
        }
        .brands {
            margin-bottom: 110px;
            &__plant {
                .plant {
                    bottom: -320px;
                    right: -50px;
                }
            }
        }
        .medicaments {
            margin-bottom: 103px;
            .plant {
                top: -60px;
            }
        }
        .production-list {
            margin-bottom: 110px;
            .plant {
                top: -100px;
                right: -30px;
            }
        }
        .about-red {
            margin-bottom: 52px;
        }
        .journal {
            margin-bottom: 130px;
            .plant {
                bottom: -120px;
                right: -30px;
            }
        }
        .map {
            margin-bottom: 39px;
        }
        .plant__sixth {
            bottom: -70px;
            left: 30px;
        }
    }
}
@include medium {
    .main-page {
        .main-banner {
            margin-bottom: 75px;
        }
        .advantages {
            display: none;
        }
        .brands {
            margin-bottom: 85px;
            &__plant {
                .plant {
                    bottom: -335px;
                    right: -85px;
                }
            }
        }
        .about-blue {
            margin-bottom: 95px;
        }
        .medicaments {
            margin-bottom: 93px;
            .plant {
                top: -20px;
            }
        }
        .production-list {
            .plant {
                top: -20px;
                right: 0;
            }
        }
        .about-red {
            margin-bottom: 70px;
            .plant {
                left: 0px;
                top: -290px;
            }
        }
        .journal {
            margin-bottom: 76px;
            .plant {
                bottom: -15px;
                right: 0;
            }
        }
        .map {
            margin-bottom: 65px;
        }
        .plant__sixth {
            left: -30px;
            bottom: -45px;
        }
    }
}
@include tablet {
    .main-page {
        .about-blue {
            margin-bottom: 60px;
        }
        .brands {
            &__plant {
                .plant {
                    bottom: -325px;
                    right: -112px;
                }
            }
        }
        .medicaments {
            margin-bottom: 55px;
            .plant {
                top: -70px;
            }
        }
        .production-list {
            margin-bottom: 67px;
            .plant {
                top: -10px;
            }
        }
        .about-red {
            margin-bottom: 45px;
            .plant {
                top: -200px;
                left: -10px;
            }
        }
        .journal {
            margin-bottom: 69px;
            .plant {
                bottom: -80px;
                right: -20px;
            }
        }
        .plant__sixth {
            bottom: -120px;
            left: -10px;
        }
    }
}