.my-icon {
    transform: unset;
}
.my-list .swiper-slide {
    width: 320px;
}
@include tablet {
    .medicine-container {
        padding: 0;
    }
}
.my-card {
    width: 413px;
}
.brands-container {
    display: flex;
    flex-wrap: wrap;
}
.advantages-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.article-balls {
    display: flex;
    flex-wrap: wrap;
}
.card-reverse {
    flex-direction: row-reverse;
}
.feedback-modal-form__form {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    transition: transform var(--main-hover-delay);
    transform: translateX(100%);
}
.feedback-modal-form.modal--visible {
    .feedback-modal-form__form {
        transform: translateX(0);
    }
}
@include medium {
    .my-card {
        width: 350px;
    }
    .card-reverse {
        flex-direction: column;
    }
}
