.my-icon {
    transform: unset;
}
.my-list .swiper-slide {
    width: 320px;
}
@include tablet {
    .medicine-container {
        padding: 0;
    }
}
.my-card {
    width: 413px;
}
.brands-container {
    display: flex;
    flex-wrap: wrap;
}
.advantages-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.article-balls {
    display: flex;
    flex-wrap: wrap;
}
.card-reverse {
    flex-direction: row-reverse;
}
@include medium {
    .my-card {
        width: 350px;
    }
    .card-reverse {
        flex-direction: column;
    }
}
